@charset "UTF-8";

/* 사용 css
input, label, 인접선택자, 형제선택자, 속성선택자:checked, opacity, transform, nth-child, position */

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #222;
}

/* Trigger Button */
input[id=trigger] {
  display: none;
}

label[for=trigger] {
  /* border: 1px solid red; */
  width: 40px;
  height: 30px;
  display: block;
  position: relative;
  cursor: pointer;
}

label[for=trigger] span {
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 100%;
  left: 0;
  transition: 0.3s;
}

label[for=trigger] span:nth-child(1) {
  top: 0;
}
label[for=trigger] span:nth-child(2) {
  top: 50%;
}
label[for=trigger] span:nth-child(3) {
  top: 100%;
}

/* +는 인접선택자 */
input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
  opacity: 0;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}